<div class="d-flex gap-3 align-items-start" *ngIf="userTasks$ | async as tasks">
    <div class="card">
        <div class="card-header bg-info">
          Completed ({{tasks.completedTasks.length}})
        </div>
        <div class="card-body bg-body-secondary">
            <div cdkDropList [cdkDropListData]="tasks.completedTasks" class="completed-list" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let task of tasks.completedTasks" cdkDrag class="card mb-3" style="width: 18rem; cursor: pointer;">
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-warning">{{task?.title}}</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-info">
          In Progress ({{tasks.inProgressTasks.length}})
        </div>
        <div class="card-body bg-body-secondary">
            <div cdkDropList [cdkDropListData]="tasks.inProgressTasks" class="inprogress-list" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let task of tasks.inProgressTasks" cdkDrag class="card mb-3" style="width: 18rem; cursor: pointer;">
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-warning">{{task?.title}}</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
